html, body {
    margin: 0;
    padding: 0;
}

/* cssgrid setup */
body {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 15% 1fr 15%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #BD6E20;
    color: #704213;
}

/* link styles */
a.link {
    color: #007FA6;
}

a.link:hover {
    color: #29C3F2;
}

/* a.link:visited {
    color: #735436;
} */

/* Header content */
header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #F2B272;
    padding: 50px 20px;
}

h1, h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* header nav */
header nav {
    display: flex;
    justify-content: space-between;
}

header nav section {
    display: flex;
}

header nav div {
    margin: 0 10px;
}

/* Main content */
main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #F2B272;
}

main section {
    margin: 15px 0;
}

#call-to-action {
    text-align: center;
}

.flex-img-ctr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#blog-post {
    padding: 0 20px;
}

/* Footer content*/
footer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #F2B272;
}

footer nav {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

footer p {
    font-size: 15px;
    position: relative;
    bottom: 0;
    padding-left: 20px;
}